In [1]:
import pandas as pd
import numpy as np
import pickle

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv("data/ufos.csv")

In [3]:
data.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               70662 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  float64
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  float64
 10  longitude             80332 non-null  float64
dtypes: float64(3), object(8)
memory usage: 6.7+ MB

In [5]:
data.isnull().sum()

datetime                   0
city                       0
state                   5797
country                 9670
shape                   1932
duration (seconds)         0
duration (hours/min)       0
comments                  15
date posted                0
latitude                   0
longitude                  0
dtype: int64

In [6]:
#Convert the  data to a small dataframe with fresh titles.
df = pd.DataFrame({'Seconds': data['duration (seconds)'], 'Country': data['country'],'Latitude': data['latitude'],'Longitude': data['longitude']})
df

       Seconds Country   Latitude   Longitude
0       2700.0      us  29.883056  -97.941111
1       7200.0     NaN  29.384210  -98.581082
2         20.0      gb  53.200000   -2.916667
3         20.0      us  28.978333  -96.645833
4        900.0      us  21.418056 -157.803611
...        ...     ...        ...         ...
80327    600.0      us  36.165833  -86.784444
80328   1200.0      us  43.613611 -116.202500
80329   1200.0      us  38.297222 -122.284444
80330      5.0      us  38.901111  -77.265556
80331   1020.0      us  35.652778  -97.477778

[80332 rows x 4 columns]

In [7]:
#Dropping null values and only importing sighting between 1-60 seconds
df.dropna(inplace=True)
df = df[(df['Seconds'] >= 1) & (df['Seconds'] <= 60)]
df

       Seconds Country   Latitude   Longitude
2         20.0      gb  53.200000   -2.916667
3         20.0      us  28.978333  -96.645833
14        30.0      us  35.823889  -80.253611
23        60.0      us  45.582778 -122.352222
24         3.0      gb  51.783333   -0.783333
...        ...     ...        ...         ...
80320     60.0      us  33.209722  -87.569167
80321      3.0      us  36.529722  -87.359444
80323     60.0      us  29.651389  -82.325000
80326     20.0      us  34.101389  -84.519444
80330      5.0      us  38.901111  -77.265556

[25863 rows x 4 columns]

In [8]:
# Convert the text values for countries to numbers
df['Country']= LabelEncoder().fit_transform(df['Country'])

C:\Users\Owner\AppData\Local\Temp\ipykernel_17348\718228541.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country']= LabelEncoder().fit_transform(df['Country'])

In [9]:
df.head()

    Seconds  Country   Latitude   Longitude
2      20.0        3  53.200000   -2.916667
3      20.0        4  28.978333  -96.645833
14     30.0        4  35.823889  -80.253611
23     60.0        4  45.582778 -122.352222
24      3.0        3  51.783333   -0.783333

In [10]:
features = ['Seconds','Latitude','Longitude']
X = df[features]
y = df["Country"]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [12]:
#Using Logistic Regression
model = LogisticRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

print(classification_report(y_test, predictions))
print('Predicted labels: ', predictions)
print('Accuracy: ', accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        41
           1       0.82      0.22      0.35       250
           2       1.00      1.00      1.00         8
           3       1.00      1.00      1.00       131
           4       0.96      1.00      0.98      4743

    accuracy                           0.96      5173
   macro avg       0.96      0.84      0.87      5173
weighted avg       0.96      0.96      0.95      5173

Predicted labels:  [4 4 4 ... 3 4 4]
Accuracy:  0.9601778465107288

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
model_filename = 'ufo-model.pkl'
pickle.dump(model, open(model_filename,'wb'))

model = pickle.load(open('ufo-model.pkl','rb'))
#Making prediction
print(model.predict([[50,44,-12]]))

[1]

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(